*{
	margin: 0px;
	padding: 0px;
}
img{
	border: 0px;
}
body{
	//background: #003B40;
	background: #000000;
	font: 12pt "Trebuchet MS",sans-serif;
	color: #FFFFFF;
}
#head{
	background: #3E3E3E;
    width: 100%;
    height: 35px;
	font: 0.7em "Trebuchet MS",sans-serif;
	color: #563423;
}
#topline{
    float: left;
    height: 3px;
    width: 100%;
    background: #FFBA00;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#titel{
	height: 25px;
    padding: 10px 10px 0px 20px;
    width: 120px;
}
#titel a {
	margin-top: -10px;
    margin-left: -20px;
	height: 25px;
    width: 120px;
    padding: 10px 10px 0px 20px;
	color: #fff;
    display: block;
	text-decoration: none;
    background: #474747;
}
#titel a:hover {
	margin-top: -10px;
    margin-left: -20px;
    padding: 10px 10px 0px 20px;
	height: 25px;
    width: 120px;
	display: block;
	color: #fff;
	text-decoration: none;
    background: #3E3E3E;
}
#middle{
	background: url(images/bg.gif) repeat-x;
	padding: 40px 40px 0px 80px;
}
#top{
	width: 890px;
	height: 10px;
   	background: url(images/top.png) left repeat-y;
}
#body{
	padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	width: 870px;
	height: 450px;
   	background: url(images/bg2.png) left repeat-y;
    color: #3E3E3E;
    font: 0.7em "Trebuchet MS",sans-serif;
}
#content{
    width: 850px;
	height: 450px;
}
#lebenslauf{
	margin-top: 5px;
    padding: 10px;
	float: right;
	width: 280px;
    height: 445px;
    background:url(images/bg_transparent.png);
    border: 0px solid #F1F1F1;
    color: #3E3E3E;
    font: 0.7em "Trebuchet MS",sans-serif;
    position:absolute;
 	left:650px;
}
#impressum{
	margin-top: 5px;
    padding: 10px;
	float: right;
	width: 320px;
    height: 445px;
    background:url(images/bg_transparent.png);
    border: 0px solid #F1F1F1;
    color: #3E3E3E;
    font: 0.7em "Trebuchet MS",sans-serif;
    position:absolute;
 	left:610px;
}
#impressum a{
	color: #003B40;
}
#impressum a:hover{
	color: #003B40;
    text-decoration: none;
}
input{
	    background:url(images/bg_transparent.png) repeat;
        border: 1px solid #FFFFFF;
}
input:focus{
	    background:url(images/bg_transparent.png) repeat;
        border: 1px solid #007A84;
}
textarea{
	    background:url(images/bg_transparent.png) repeat;
        border: 1px solid #E5E5E5;
}
textarea:focus{
	    background:url(images/bg_transparent.png) repeat;
        border: 1px solid #007A84;
}
#bottom{
	width: 890px;
	height: 10px;
   	background: url(images/bottom.png) left repeat-y;
}
#menue {
	list-style: none;
    float: right;
    width: 400px;
    margin-top: -35px;
    text-align: left;
    height: 35px;
}
#menue li {
	float:left;
	position: relative;
}
#menue a {
    padding: 10px 10px 0px 20px;
	height: 25px;
    width: 100px;
	display: block;
	color: #fff;
	text-decoration: none;
}
#menue a:hover {
    padding: 10px 10px 0px 20px;
	height: 25px;
    width: 100px;
	display: block;
	color: #fff;
	text-decoration: none;
    background: #474747;
}
#menue span {
    padding: 10px 10px 0px 20px;
	height: 25px;
    width: 100px;
	display: block;
	color: #fff;
	text-decoration: none;
    background: #474747;
}
#menue ul{
    list-style: none;
}
a.left{
	position:absolute;
    padding-top: 220px;
    padding-right: 17px;
    height: 230px;
    width: 18px;
    display: block;
	text-decoration: none;
    text-align:right;
}
a.left:hover{
	position:absolute;
    height: 230px;
    width: 18px;
    display: block;
	text-decoration: none;
    background:url(images/bg_transparent.png);
}
a.right{
	position:absolute;
    left: 915px;
    float: right;
	padding-top: 220px;
    padding-left: 17px;
    height: 230px;
    width: 18px;
    display: block;
	text-decoration: none;
}
a.right:hover{
	float: right;
	position:absolute;
    left: 915px;
    padding-left: 17px;
    height: 230px;
    width: 18px;
    display: block;
	text-decoration: none;
    background:url(images/bg_transparent.png);
}